/* styling for all pages */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-image: url('light-grey-terrazzo.png');
}


/*footer styling */

footer > div {
    background-color: #343a40;
    color: #FFFFFF;
    margin: auto;
    padding-top: 10px;
    font-size: 14px;
}


/* image styling */

.images {
    height: 250px;
    width: 250px;
    padding: 10px 10px;
}

.profileImage {
    border-style: solid;
    border-width: 5px 5px;
    border-color: #343a40;
    height: 200px;
    width: 200px;
}


/* submit button styling */

.submit {
    color: black;
    background-color: lightgray;
    border: lightgray;

}

.submit:hover {
    background-color: teal;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
}


/* background block */

.blockWhiteBackground {
    background-color: #ffffff;
    padding: 20px 15px;
}

