/* styling for all pages */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-image: url('light-grey-terrazzo.png');
}


footer > div {
    background-color: #343a40;
    color: #FFFFFF;
    margin: auto;
    font-size: 14px;
}

.blockWhiteBackground {
    background-color: #ffffff;
    padding: 20px 15px;
}